.cell-name {
    padding: 5px;
    height: 50px;
    font-size: calc(6px + 1vmin);
    width: 100px;
    border: 1px solid #eee;
    color: peachpuff;
    font-weight: bolder;
}
  
.cell-state {
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    font-size: 12px;
    color: #eee;
    font-size: calc(6px + 1vmin);
}

.cell-genre  {
    width: 350px;
    height: 50px;
    border: 1px solid #eee;
    font-size: 12px;
    font-size: calc(6px + 1vmin);
}

.cell-default {
    width: 100px;
    height: 50px;
    border: 1px solid #eee;
    font-size: 12px;
    padding: 5px;
    color: #eee;
    font-size: calc(6px + 1vmin);
}
