.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.restaurant {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cell-name {
  font-weight: bolder;
  color: peachpuff;
  width: 150px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}

.cell-city {
  font-style: italic;
  width: 100px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}

.cell-state {
  font-style: italic;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}

.cell-phone {
  width: 150px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}

.cell-genre {
  width: 350px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}