.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.restaurants {
  align-self: center;
}

.cell-name {
  font-weight: bolder;
  color: peachpuff;
  width: 100px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 5px;
}

.cell {
  width: 100px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 5px;
}

.cell-state {
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}

.cell-genre  {
  width: 350px;
  height: 50px;
  border: 1px solid #eee;
  font-size: 12px;
}